
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    color: white;
    background-size: cover;
    height: 100vh;
    text-align: center;
}


.btn {
    background: #ff9800;
    color: rgb(255, 255, 255);
    padding: 10px 16px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    display: inline-block;
    white-space: nowrap;
    text-align: center;
}

.btn:hover {
    background: #e68900;
}

.btn, .btn a {
    text-decoration: none; 
}
.text-box {
    background: rgba(0, 0, 0, 0.6); 
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    max-width: 600px;
    margin: auto;
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); 
}

#favoriteButton {
    display: block !important;  
    margin: 10px auto;
    padding: 10px 15px;
    font-size: 16px;
    background-color: #ff9800;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#favoriteButton:hover {
    background-color: #e68900;
}